# Ignore Python virtual environment
venv/
__pycache__/

# Ignore Flask database files
auction.db

# Ignore React build files
frontend/build/

# Ignore Node.js dependencies
frontend/node_modules/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store

# Ignore .env file in the backend directory
/backend/.env

# Ignore all files inside static/uploads/
/backend/static/uploads/*

# Except for the .gitkeep file
!/backend/static/uploads/.gitkeep